* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font: 16px google sans, Sans-Serif;
  background-color: #07131e;
  color: #FFF;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}

.content {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 30px;  
}

.bg {
  background-image: url("../imgs/predios_bg.png");
}

h1 {
  margin: 0 0 20px 0;
}
footer {
  background-color: #0d243a;
  color: white;
  height: 50%;
  padding: 20px;
  flex-shrink: 0 /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}